.box {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5px;
    display: inline-block;
}

h1 {
    font-size: 40pt;
}

#container {
    text-align: center;
    margin: auto;
   padding: 10px;
}

#btns {
    padding: 20px;
    background-color: black;
    margin-bottom: 20px;
}

.red{background-color: red}
.blue{background-color:blue}
.green{background-color: green}
.yellow{background-color: yellow}